/*BEGIN Fight Stick Controller Styling*/
.controller.fight-stick {
    background: url(vfbase.png) center;
    height: 534px;
    width: 1122px;
}

.fight-stick .arrows {
    position: absolute;
    width: 70px;
    height: 217px;
    top: 53px;
    left: 49px;
}

.fight-stick .button {
    width: 123px;
    height: 123px;
    background: #333333;
    border-radius: 100%;
    opacity: 1;
    display: block;
    position: absolute;
}

.fight-stick .button.pressed {
    transform: translateY(5px);
    -webkit-filter: invert(1);
}

.fight-stick .a {
    bottom: 0px;
    left: 0px;
}

.fight-stick .x {
    top: 66px;
    left: 33px
}

.fight-stick .y {
    right: 0px;
    top: 0px;
}

.fight-stick .fstick {
    position: absolute;
    width: 221px;
    height: 221px;
    top: 199px;
    left: 192px;
    background: url(vfstick.png)
}

.fight-stick .fstick.up {
    background-position-x: -1762px;
}

.fight-stick .fstick.down {
    background-position-x: -882px;
}

.fight-stick .fstick.left {
    background-position-x: -1322px;
}

.fight-stick .fstick.right {
    background-position-x: -442px;
}

.fight-stick .fstick.up.right {
    background-position-x: -222px;
}

.fight-stick .fstick.up.left {
    background-position-x: -1542px;
}

.fight-stick .fstick.down.right {
    background-position-x: -662px;
}

.fight-stick .fstick.down.left {
    background-position-x: -1102px;
}

/*END Fight Stick Controller Styling*/
