/*BEGIN Fight Stick Controller Styling*/
/*If this breaks, change "custom" to "fight-stick".*/
.controller.custom {
    background: url(vfbase.png) center;
    height: 534px;
    width: 1122px;
}

.custom .arrows {
    position: absolute;
    width: 70px;
    height: 217px;
    top: 53px;
    left: 49px;
}

.custom .button {
    width: 123px;
    height: 123px;
    background: #333333;
    border-radius: 100%;
    opacity: 1;
    display: block;
    position: absolute;
}

.custom .button.pressed {
    transform: translateY(5px);
    -webkit-filter: invert(1);
}

.custom .a {
    bottom: 0px;
    left: 0px;
}

.custom .x {
    top: 66px;
    left: 33px
}

.custom .y {
    right: 0px;
    top: 0px;
}

.custom .fstick {
    position: absolute;
    width: 221px;
    height: 221px;
    top: 199px;
    left: 192px;
    background: url(vfstick.png)
}

.custom .fstick.up {
    background-position-x: -1762px;
}

.custom .fstick.down {
    background-position-x: -882px;
}

.custom .fstick.left {
    background-position-x: -1322px;
}

.custom .fstick.right {
    background-position-x: -442px;
}

.custom .fstick.up.right {
    background-position-x: -222px;
}

.custom .fstick.up.left {
    background-position-x: -1542px;
}

.custom .fstick.down.right {
    background-position-x: -662px;
}

.custom .fstick.down.left {
    background-position-x: -1102px;
}

/*END Fight Stick Controller Styling*/
